/*pagina desafio*/

.espaco{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 40px;
}

label{
    font-weight: bold;
}

.bgfundo{
    background-color: rgb(207, 204, 204);
}


/*pagina produto principal*/
.btnProduto{
    margin-bottom:10px;
    margin-top: 35px;
    border: 1px solid rgb(175, 172, 172);
    background-color: #f8f4f4;
}

.todasInf{
    margin-left: 65px;
}

.todasInf h1{
    font-size: 4rem;
    margin-bottom: 25px;
}

.pg2{
    background-color: rgb(219, 217, 217);
}